+font('martel-regular-webfont',martel)
+font('martel-bold-webfont',martel-bold)
+font('Rubik-Medium',rubik-medium)
+font('Rubik-Regular',rubik-regular)


=martel
	font-family: martel, sans-serif

=rubik-medium
	font-family: rubik-medium, sans-serif

=rubik-regular
	font-family: rubik-regular, sans-serif

=martel-bold
	font-family: martel-bold, sans-serif
	
body
	background: #FFF
	+css-lock(16, 50, 600, 1000)
	line-height: 1.4

