.block
	display: flex
	// remove this

#map
	height: 175px
    width: 100%

.wrapper
	max-width: 1024px
	margin: 0 auto
	+martel

.container
	margin: 0 auto
	max-width: 725px
	text-align: center
	position: relative
	+clr
	+r(750) 
		margin: 0 20px

.header
	margin: 0 auto
	.container
		position: relative
		max-width: 832px
		width: 100%
		height: 126px
	&__logo, &__nav
		position: absolute
		top: 50%
		transform: translateY(-50%)
	&__logo
		left: 0
	&__nav
		margin-left: 40%
		margin-top: 7px
		right: 0

.logo
	font-size: 26px
	text-decoration: none
	&__part1
		color: #0e1d2b
	&__part2
		color: #ffa326	
	&:hover 
		font-weight: bold

.nav
	font-size: 16px
	a
		text-decoration: none
		color: #0e1d2b
		+martel
		line-height: 1.087
		padding: 0 10px
	a:hover
		// +martel-bold
		font-weight: bold
		border-bottom: 3px solid #ff9f1c

.hero
	display: table
	max-width: 1024px
	width: 100%
	&__container
		display: table-row
	&__left, &__right
		height: 395px
		display: table-cell
		border: 0
		background-repeat: no-repeat 
		background-size: cover 
		background-position: 100% 100%
		
.left__bckg, .right__bckg
	width: 100%
	height: 100%
	opacity: 0.92
	padding: 15%
	position: relative
	+clr
.left__bckg
	background-color: #011627
.right__bckg
	background-color: #ff9f1c

.left__title, .right__title
	font-size: 65px
	line-height: 0.923
	+rubik-medium
.left__title
	color: #ffa326
.right__title
	color: #ffffff

.left__text, .right__text
	font-size: 14px
	+martel
	line-height: 1.429
	padding-top: 10%
.left__text
	color: #ffffff
.right__text
	color: #0d1e2d

.showme
	+martel
	font-size: 16px
	background-color: #ffffff
	width: 157px
	height: 37px
	box-shadow: 0px 3px 5px #444444
	border: none
.showme:hover, 
	background-color: #dddddd
.showme:active
	transform: translateY(1px)	

.top__photo 
	width: 100%

.bottom__photo 
	width: 100%

.burgers
	margin: 72px auto
.prices
	width: 100%
	box-sizing: border-box
	img 
		max-width: 100%
	a 
		cursor: pointer
	a:hover 
		border: 1px solid #eeeeee
		transform: scale(1.05)
.price
	display: inline-block
	width: 22.34482758620%
	border: 1px
	box-sizing: border-box
	margin: 0
	padding: 50px 0 0 0
	+clr
	&__center
		margin: 0 14.89%
	&__title
		font-size: 22.63px
		+rubik-regular
		color: #ffa326
		line-height: 0.692
		margin: 7% 0
	&__text
		font-size: 12.18px
		+martel
		color: #0b1d2c
		line-height: 1.286
		text-align: center
	&__button
		width: 100%
		height: 30px
		padding: 3%
		margin: 0
		position: relative
		background-color: #e1e1e1
	&__kj, &__bucks, &__svg
		display: inline-block
	&__kj
		margin: 0 5px
		transform: translateY(-5px)
		+martel
		font-size: 12.18px
		color: #485058
		line-height: 1.2
		text-align: center
	&__bucks
		font-size: 20px
		margin: 0 5px
		right: 0
		+rubik-regular
		color: #0b1d2c
		line-height: 0.783
		text-align: center
	&__svg
		margin: 0
	&__oval
		position: relative
	&__image
		position: relative
	
.oval 
	width: 180px
	height: 90px
	position: absolute
	-moz-border-radius: 50%
	-webkit-border-radius: 50%
	border-radius: 50%
	border: 3px solid #f39c22
	// z-index: 1002
	top: 0
	&__img
		position: relative
		z-index: 9999
	&__-75
		transform: rotate(-75deg)
	&__15
		transform: rotate(-45deg)
	&__30
		transform: rotate(45deg)

.whatelse
	width: 100%
	height: 404px
	border: 0
	margin: 0 auto
	background-repeat: no-repeat 
	background-size: cover 
	background-position: 100% 100%
	position: relative
	+clr
	&__background
		height: 100%
		width: 100%
		opacity: 0.92	
		background: linear-gradient(#011627, #ff9f1c)
	.container
		position: absolute
		top: 50%
		transform: translateY(-50%)
		left: 15%
		text-align: center
		max-width: 725px
		width: 100%
	&__label, &__table
		display: inline-block
	&__label
		padding: 5% 0
		float: left	
	&__table
		font-size: 16px
		+martel
		color: #ffffff
		line-height: 0.979
		text-align: left
		width: 288px
		height: 226px
		border: 3px solid #ff9f1c
		float: right
		table 
			margin-top: 50px
			margin-left: 36px
	&__title
		font-size: 60px
		+rubik-medium
		color: #ffffff
		line-height: 1

.dish
	width: 180px
	padding-bottom: 15px

.dish-price
	max-width: 55px
	padding-bottom: 15px

.block__title
	font-size: 60px
	+rubik-medium
	color: #0d1624
	line-height: 1
	margin: 10px auto

.block__text
	font-size: 12.18px
	+martel
	color: #0b1d2c
	line-height: 1.286
	text-align: center

.photos
	margin-top: 65px
	+clr

.photos__gallery
	width: 100%
	margin-top: 65px
	img
		max-width: 100%
		transform: scale(1.01)
	img:hover
		transform: scale(1.05)
	a 
		cursor: pointer

.gallery__top, .gallery__bottom
	margin: 0
	padding: 0
	line-height: 0.6
	position: relative
	+clr

.top__photo
	width: 33.333333333333333333333333333333%
	float: left
	margin: 0
	img
		height: 184px

.bottom__photo
	width: 16.666666666666666666666666666667%
	float: left
	margin: 0
	margin-top: -10px
	z-index: 900
	position: relative
	img
		height: 92px

.board
	position: absolute
	top: -10px
	left: 0
	right: 0
	width: 100.2%
	margin-left: -1px
	height: 10px
	border: 3px solid #ff9f1c
	box-sizing: border-box
	z-index: 1000

.contacts
	margin-top: 65px
	text-align: center
		
.contacts__wrap
	margin-top: 65px
	background-color: #0d1e2d
	.container
		padding: 25px 0

.touchus
	width: 40%
	float: left
	&__title
		font-size: 12.18px
		+martel
		color: #ffffff
		line-height: 1.286
		text-align: left
	&__form
		width: 100%
		input, textarea
			color: #0b1d2c
			font-size: 12.18px
			+martel
			line-height: 1.286
			text-align: left
			padding-left: 10%
			padding-top: 5px
			width: 100%
			height: 30px
		textarea
			height: 90px
		input[type="submit"]
			font-size: 16px
			+martel
			color: #ffffff
			font-weight: bold
			line-height: 0.979
			text-align: center
			background-color: #ffa326

.locate
	width: 45%
	float: right

.address
	padding-top: 25px
	&__title
		font-size: 18.52px
		+martel
		color: #ffffff
		line-height: 0.979
		text-align: center

.phone	
	width: 100%
	&__title
		display: inline-block
		font-size: 18.52px
		+martel
		color: #ffffff
		line-height: 0.979
		text-align: left
	&__number
		margin-left: 20px
		display: inline-block
		font-size: 46.83px
		+martel
		font-weight: bold
		color: #ffa326
		line-height: 0.979
		text-align: right
		text-decoration: none

.footer
	background-color: #050b10

.copywright, .website
	font-size: 12px
	+martel
	color: #ffa326
	line-height: 3.821
	text-align: center
	float: left

.website
	float: right