---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}


	<!-- begin header -->
	<header class="header">
		<div class="container">
			<div class="header__logo">
				<a href="" class="logo">
					<span class="logo__part1">BURGERS</span>
					<span class="logo__part2">.CO</span>
				</a>
			</div>
		</div>
	</header>
	<!-- end header -->
	
	{# variable example #}
	<h1>{{title}}</h1>

	
	{# partial example #}
	{% include "partials/_header.html" %}

	{# mixin example #}
	{{mixins.icon('facebook')}}


	{# data usage example #}
		{% import "data/data.html" as tests %}
		
		{% for test in tests.list %}
		<li>{{test.title}}</li>
		{% endfor %}
	{# end of example #}

{% endblock %}
